/* google font */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@700&family=Kaushan+Script&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,600;1,300;1,800&display=swap'); */

body{
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Roboto', sans-serif;

}

nav ul li
{
  padding: 0 10px;
  text-transform: uppercase;
  color: black !important;
}
.navbar-nav li a
{
 color:#000 !important;
 font-weight: 200;
 font-family: 'Roboto', sans-serif;
 font-size: 14px!important;

}

.nav-item a:hover
{
  opacity: 0.8;
}

.navbar-toggler
{
  outline: none !important;
}

#nav-bar
{
  position: sticky;
  top:0;
  z-index: 100;
}

.fa-bars
{
  border:none!important;
  outline: none!important;
  color: #fff;
}

.bar
{
text-decoration-line: underline;
text-decoration-color: #228190;
text-decoration-style: solid;
text-underline-offset: 10px;
}

.bg-c
{
  background-color: #F2CA80;
}

.font-c
{
  font-family: 'Kaushan Script', cursive;
  font-size: 40px !important;
}

.fc
{
  color: #000;
}

/* .brand
{
  color: white;
  font-family: 'Kaushan Script', cursive;
  font-size: 35px;
} */

.brand:hover
{
  color:white;
  /* opacity: 0.8; */
}

/* .rotate
{
   transform: rotate(8deg);
} */

.space
{
  height: 100vh;
}
.bg-custom
{
  /* background: rgb(247,37,133);
  background: -webkit-linear-gradient(200deg, rgba(247,37,133,1) 35%, rgba(176,0,80,1) 100%);
  background: -o-linear-gradient(200deg, rgba(247,37,133,1) 35%, rgba(176,0,80,1) 100%);
  background: linear-gradient(290deg, rgba(247,37,133,1) 35%, rgba(176,0,80,1) 100%); */
  background-color:#F2CA80 ;
}

.radious
{
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

/* .headline
{
  color:#228190;
  font-weight: 400;
  font-family: 'Advent Pro', sans-serif;
} */

/* theme css */

.size-24
{
  font-size: 24px !important;
}
.size-22
{
  font-size: 22px !important;
}
.size-18
{
  font-size: 18px !important;
}
.font-bolder
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}
.font-lighter
{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}
.btn-outline-light
{
  background-color: #D94929 !important;
  outline: none !important;
  border: none !important;
  color: #fff !important;
}
.black{
  color:#000;
}
.orange{
  color:#D94929;
}

.icon-c
{
  color:#D94929 !important;
}

.about_p_height
{
  line-height: 31px;
}
footer a:hover
{
  color: #000 !important;
}
